version: '3.8'

services:
  norilsk_app:
    # Включаем автоматическую перезагрузку кода при изменениях (Debug mode)
    volumes:
      - ./app:/app
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1

  nginx:
    # Для тестов на локале используем упрощенный конфиг без SSL
    volumes:
      - ./nginx/local.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"